[submodule "QuoteUnquote.utilsLib"]
	path = QuoteUnquote.utilsLib
	url = https://github.com/jameshnsears/QuoteUnquote.utilsLib
[submodule "QuoteUnquote.cloudLib"]
	path = QuoteUnquote.cloudLib
	url = https://github.com/jameshnsears/QuoteUnquote.cloudLib
[submodule "QuoteUnquote.cloudLib.functions"]
	path = QuoteUnquote.cloudLib.functions
	url = https://github.com/jameshnsears/QuoteUnquote.cloudLib.functions
[submodule "ShapeShifter"]
	path = ShapeShifter
	url = https://github.com/alexjlockwood/ShapeShifter
