/.gradle/
/.idea/
/app/keystore.jks
/local.properties
/build/
/app/build/
/cloudLib/build/
/cloudLib/gcp/.nyc_output/
/cloudLib/gcp/functions/.nyc_output/
/cloudLib/gcp/functions/node_modules/
/cloudLib/gcp/config/qualified-glow-281314.json
/cloudLib/gcp/config/virtual-ego-281313.json
/utilsLib/build/
