[submodule "QuoteUnquote.utilsLib"]
	path = QuoteUnquote.utilsLib
	url = https://github.com/jameshnsears/QuoteUnquote.utilsLib
[submodule "QuoteUnquote.cloudLib"]
	path = QuoteUnquote.cloudLib
	url = https://github.com/jameshnsears/QuoteUnquote.cloudLib
