/build
/captures
.cxx
.DS_Store
.externalNativeBuild
.gradle
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/compiler.xml
/.idea/libraries
/.idea/modules/
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/QuoteUnquote.iml
/.idea/sonarlint/issuestore/
/.idea/workspace.xml
local.properties
/build/
/QuoteUnquote.cloudLib/
/QuoteUnquote.utilsLib/
/app/build/
