/app/build/
app/.classpath
/app/googleplay/debug/
/app/googleplay/release/
/app/googleplay/release/app-googleplay-release.aab
/app/google-services.json
/app/keystore.jks
/app/src/googleplay/google-services.json
/app/src/google-services.json
/build
/captures
.cxx
.DS_Store
.externalNativeBuild
.gradle
.idea/assetWizardSettings.xml
.idea/caches
.idea/compiler.xml
.idea/libraries
.idea/modules/
.idea/modules.xml
.idea/navEditor.xml
.idea/QuoteUnquote.iml
.idea/shelf/
.idea/sonarlint/issuestore/
.idea/sonarlint-state.xml
.idea/sonarlint.xml
.idea/vcs.xml
.idea/workspace.xml
local.properties
/Quote, Unquote.vpp.*
/.Quote, Unquote.vpp.lck
.scannerwork
/app/emanuelkebede/release/
/bin/transfer_restore.sh
