<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.jameshnsears.quoteunquote">

    <uses-permission android:name="android.permission.REORDER_TASKS" tools:node="remove"/>
</manifest>
