<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
            android:name="android.permission.REORDER_TASKS"
            tools:node="remove" />

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:fullBackupOnly="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/Theme.QuoteUnquote"
            android:allowBackup="false">

        <receiver
                android:name=".QuoteUnquoteWidget"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/quote_unquote_widget_info" />
        </receiver>

        <activity
                android:name=".QuoteUnquoteInstructions"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".configure.ConfigureActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <service
                android:name=".listview.ListViewService"
                android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service android:name=".cloud.CloudService" />
        <service android:name=".cloud.CloudServiceBackup" />
        <service android:name=".cloud.CloudServiceRestore" />
    </application>
</manifest>
